<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/00fce68a-4763-46a6-8b93-c53ef5417a4f/resourceGroups/compass-ads/providers/Microsoft.Web/sites/compass-ads</ResourceId>
    <ResourceGroup>compass-ads</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://compass-ads.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>compass-ads.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>compass-ads</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$compass-ads</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CompassAds1-20171130093805.mdf;Initial Catalog=aspnet-CompassAds1-20171130093805;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CompassAds1-20171130093805.mdf;Initial Catalog=aspnet-CompassAds1-20171130093805;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AompassAdsConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:compassads.database.windows.net,1433;Initial Catalog=AompassAds;User ID=compassads;Password=@#$1234MAR" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CompassAds1.Models.ApplicationDbContext, CompassAds1" MigrationConfiguration="CompassAds1.Migrations.Configuration, CompassAds1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AompassAdsEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:compassads.database.windows.net,1433;Initial Catalog=AompassAds;User ID=compassads;Password=@#$1234MAR;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:compassads.database.windows.net,1433;Initial Catalog=AompassAds;User ID=compassads;Password=@#$1234MAR;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CompassAds1.Models.AompassAdsEntities, CompassAds1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AompassAdsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:compassads.database.windows.net,1433;Initial Catalog=AompassAds;User ID=compassads;Password=@#$1234MAR;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AompassAdsConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:compassads.database.windows.net,1433;Initial Catalog=AompassAds;User ID=compassads;Password=@#$1234MAR</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:compassads.database.windows.net,1433;Initial Catalog=AompassAds;User ID=compassads;Password=@#$1234MAR</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>